/* narbar 字體 *//* 價錢字體 */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script&family=Noto+Sans+TC:wght@100&display=swap');

.bigcontainer {
  box-sizing: border-box;
  padding: 10px;
}

.flexcontainer{
  margin:10px
}
.fisrtimg {
  width: 450px;
  height: 450px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 0px 10px 12px;
  
}

ul {
  list-style-type: none;
  /* disc 實心圓點是默認值 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.container ul li:first-child {
  font-size: 2rem;
  margin-right: 1.5rem;
}

/* 新舊price */
/* 或者使用nth-child（2） */
.container ul li:last-child {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: 'Dancing Script', cursive;
font-size:0.75rem;
}

.price {
  color: #8A2BE2;
  font-weight:1000;
  font-family: 'Dancing Script', cursive;
}

/* 文字 */
h1 {
  color: hsl(212, 21%, 14%);
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

p {
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.productName {
  font-size: 2rem;
  color: black;
}

.top{
  font-size:23px;
  margin-bottom:1.5rem;
}

/* Slide section */

body {
  font-family: Arial;
  margin: 0;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding: 5px;
}

.mySlides img {
  width: 100%;
  border-radius: 8%;
}

#caption {
  width: 100%;
  height: 30%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

.column img {
  width: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.container .btn {
  background-color:  DarkGrey;
  color: white;
  padding: 0.5rem
  width: 100%;
  /* 上下0.625rem 左右2rem */
  border-radius: 0.625rem;
  outline: none;
  /* 輪廓（outline）是繪製於元素周圍的一條線，位於邊框邊緣的外圍，可起到突出元素的作用。 */
  border: none;
  cursor: pointer;
  /* cursor CSS 屬性設置指針上的顯示時（如果有），在指針懸停的相應樣式。 */
  transition: 0.3s;
  /* 响应速度 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

/* 鼠標hover過去的時候的效果。 */
.container .btn:hover {
  background-color: Grey;
}

.container .btn img {
  width: 20px;
  height:20px;
}

.cart {
  font-size: 1rem;
  color: white;
  font-weight: 520;
  padding:0.5rem;
}

/* Desktop ver. */
@media (min-width: 763px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 分成兩份，每份1fr */
  }

  .container article:last-child {
    padding: 12px;
  }


  .column img {
    border-radius: 100%;
    padding: 8px;
  }
  /* picture img {
    height: 100%;
    border-radius: 10;
    padding: 10px;
  } */

  .container .btn img {
    width: 50px;
    height: 50px;
  }

  .container .btn img {
    width: 20px;
    height:20px;
  }
}