/* narbar 字體 *//* 價錢字體 */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script&family=Noto+Sans+TC:wght@100&display=swap');

body {
    background: #f5f5f5;
    height: 100%;
}

.hid {
    overflow: hidden;
}

.left {
    float: left;
}

.box_head{
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 3rem;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}

.box_head span{
    position: absolute;
    top: -20px;
    left: 30%;
    right: 30%;
    height: 3rem;
    width: 40%;
    line-height: 3rem;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
    font-size: 2.5rem;
}

#box {
    width: 90%;
    margin: 20px auto;
}

#box ol {
    overflow: hidden;
}

#box li {
    width: 25%;
    float: left;
    padding: 24px 0 20px;
    background: #FFF;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
}

.pro_img {
    width: 75%;
    height: 75%;
    margin: 0 auto 1rem;
}

.pro_name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
}
.pro_name a {
    color: #333;
    text-decoration: none;
}
.pro_price {
    color: #b700ff;
    margin: 1rem;
}
.pro_rank {
    color: #757575;
    margin: 1rem;
}
#box li:hover .add_btn {
    display: block;
}
#box li:hover .pro_rank {
    opacity: 0;
}
#box li .add_btn:hover {
    background-color: #d880fe;
    color: white;
}

.add_btn {
    height: 22px;
    position: absolute;
    width: 122px;
    bottom: 28px;
    left: 50%;
    margin-left: -61px;
    line-height: 22px;
    display: none;
    color: #d880fe;
    font-size: 1rem;
    border: 1px solid  #d880fe;
}

/* ========== */

.car {
    width: 90%;
    margin: 20px auto;
    background: #FFF;
}

.car .check{
    width: 4.3rem;
}

.car .check span{
    width: auto;
    margin: 0 auto;
}

.car .check i{
    color: #fff;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
    font-family: "iconfont";
}

.i_acity {
    border-color: #b700ff !important;
    background-color: #b700ff !important;
}

.car .img {
    width: 5rem;
}

.car .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car .name {
    width: 15rem;
}

.car .name span {
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.car .price {
    width: 144px;
    text-align: right;
    padding-right: 84px;
}

.car .price span {
    color: #b700ff;
    font-size: 1rem;
}

.car .number{
    width: 10rem;
}

.car .subtotal{
    width: 10rem;
    
}

.car .ctrl {
    width: 7.5rem;
    text-align: center;
}

.car .ctrl a {
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem auto;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    background-color: #d7cdcd;
}

.car .ctrl a:hover {
    transform: scale(1.25,1.25);
}

#sum_area{
    width: 90%;
    height: 2.5rem;
    background: white;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sum_area #pay{
    width: 5rem;
    height: 100%;
    margin-left: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background: #b700ff;
    color: white;
    text-decoration: none;
}

#sum_area #pay_amout{
    font-size: 1.5rem;
    color:#b700ff ;
}

#sum_area #pay_amout #price_num{
    width:100px;
    height: 60px;
    font-size: 25px;
    color:#b700ff ;
}

.item_count_i{
    height: 85px;
    width:10%;
    display: flex;
    margin-right: 25px;
}

.num_count{
    width:150px;
    height:40px;
    border: 1.2px solid #E0E0E0;
    float:right;
    margin-top: 21px;

}
.count_i{
    width:30%;
    height:40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size:21px;
    color: #747474;
}
.count_i:hover{
    width:30%;
    height:40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size:21px;
    color: #747474;
    background: #E0E0E0;
    cursor: pointer;
}
.c_num{
    width:40%;
    height:40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size:16px;
    color: #747474;
}
.count_d{
    width:30%;
    height:40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size:25px;
    color: #747474;
}
.count_d:hover{
    width:30%;
    height:40px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size:25px;
    color: #747474;
    background: #E0E0E0;
    cursor: pointer;
}
.i_acity2 {
    border-color: #b700ff !important;
    background-color: #b700ff !important;
}

@media only screen and (max-width: 991.98px){
    .box_head{
        display: none;
    }

    #box li{
        width: 100%;
    }

    .pro_img {
        width: 25%;
        height: 25%;
        margin: 0 auto 1rem;
    }
}