.section-header{
    border-bottom: 5px solid cornflowerblue;
    min-width: 50vw;
}

body {
    background: #f5f5f5;
    height: 100%;
}

.hid {
    overflow: hidden;
}

.left {
    float: left;
}

.box_head{
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 3rem;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}

.box_head span{
    position: absolute;
    top: -20px;
    left: 30%;
    right: 30%;
    height: 3rem;
    width: 40%;
    line-height: 3rem;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
    font-size: 2.5rem;
}

body {
    background: #f5f5f5;
    height: 100%;
}

.hid {
    overflow: hidden;
}

.left {
    float: left;
}

.box_head{
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 3rem;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}

.box_head span{
    position: absolute;
    top: -20px;
    left: 30%;
    right: 30%;
    height: 3rem;
    width: 40%;
    line-height: 3rem;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
    font-size: 2.5rem;
}

#box {
    width: 90%;
    margin: 20px auto;
}

#box ol {
    overflow: hidden;
}

#box li {
    width: 25%;
    float: left;
    padding: 24px 0 20px;
    background: #FFF;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
}

.pro_img {
    width: 75%;
    height: 75%;
    margin: 0 auto 1rem;
}

.pro_name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
}
.pro_name a {
    color: #333;
    text-decoration: none;
}
.pro_price {
    color: #b700ff;
    margin: 1rem;
}
.pro_rank {
    color: #757575;
    margin: 1rem;
}
#box li:hover .addBtn {
    display: block;
}
#box li:hover .pro_rank {
    opacity: 0;
}
#box li .addBtn:hover {
    background-color: #d880fe;
    color: white;
}

.addBtn {
    height: 22px;
    position: absolute;
    width: 122px;
    bottom: 28px;
    left: 50%;
    margin-left: -61px;
    line-height: 22px;
    display: none;
    color: #d880fe;
    font-size: 1rem;
    border: 1px solid  #d880fe;
}





/* html{
    font-size: calc(1.3vh + 1vw + 1%);
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
} */

/* Shopping cart */
/* main{
    border-top: 5px solid #bada55;
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}

#product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    flex: 1 auto;
}

#cart{
    flex: 1 1 20%;
} */

/* card */
/* .card{
    border: 1px solid #999;
    padding: 1rem;
    box-sizing: content-box;
    max-width: 150px;
    position: relative;
}

.card img{
    width: 100%;
    filter: contrast(0.3);
}

.card .price{
    position: absolute;
    top: 3rem;
    left: 2rem;
    text-shadow: 2px 2px 2px #333, 1px 1px 2px #eee;
    color: #bada55;
    font-weight: 700;
    font-size: 1.5rem;
    transform:rotate(30deg) ;
}

.card h2{
    font-size: 1.2rem;
}

.card p{
    font-size: 0.8rem;
}

.card .btn{
    border: 2px solid cornflowerblue;
    padding: 0.25rem 1rem;
    color: cornflowerblue;
    cursor: pointer;
}

.card-item{
    border-bottom: 1px solid #666;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.card-item .price{
    position: absolute;
    top: 2rem;
    bottom: 1rem;
    right: 1rem;
    width: 30%;
    font-size: 0.8rem;
    color: #aaa;
    transform:rotate(30deg) ;
}

.card-item .title{
    font-size: 1rem;
    color: #999;
    line-height: 1.5rem;
    height: 1.5rem;
    width: 70%;
}

.card-item .controls{
    height: 1.5rem;
    cursor: pointer;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.card-item span:nth-child(1),
.card-item span:nth-child(3){
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    background: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    display: block;
} */

